.settings {
  margin-inline: auto;

  max-width: 40rem;
  padding: 2rem;
}

.form {
  margin-top: 2rem;

}

.form--dual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.form--cta {
  justify-content: flex-end;
  display: flex;
  gap: 1rem
}